@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:ital,wght@0,400;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Work Sans", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
